body{
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
nav{
    background-color: rgb(178, 191, 196);
    position:fixed;
    padding: 25px;
    left: 0;
    top: 0;
    right: 0;
}
ul{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul :hover{
    color: #000;
    flex-grow: 0.25;
    background-color: rgba(219, 175, 205, 0.678);
}
li{
display: inline-block;
width: 150px;
border: 1px solid rgb(36, 36, 37);
line-height: 2em;
border-radius: 5%;
font-family: monospace;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

a{
color: rgb(36, 33, 33);
text-decoration: none;
border: 1px solid rgb(36, 33, 33);
display: block;
}
.hero{
    background-color: #6c8494;
    background-image: url(./images/cloud\ pattern\ smaller.png);
    background-repeat: repeat-x;
    background-size: contain;
    color: rgb(36, 33, 33);
    text-align: center;
    font-size: x-large;
    height: 100px;

    padding-top: 200px;
    padding-bottom: 200px;
}
.slideshow{
    height: 420px;
    margin: auto;
    width: 600px;
    overflow:hidden;
    padding-top: 20px;
}
.cycle-slideshow img{
    border: solid 1px rgb(83, 92, 95);
    border-radius: 2%;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: 400px;
    box-shadow: 7px 7px 2px #bebebe;

}
footer{
    margin-top: 50px;
    clear: both;
    font-size: x-large;
    text-align: center;
    padding: 50px;
    background-color: #bebebe;
}